<template lang="pug">
p {{ yolo }}
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({ name: 'page-test2' }) //Really important
export default class Test2 extends Vue {
  yolo = 'loading'

  created() {
    this.yolo = 'holla'
  }
}
</script>