<template lang="pug">
p {{ yolol }}
</template>

<script>
export default {
  name: 'page-test1', //Really important
  data() {
    return {
      yolol: null
    }
  },
  created() {
    this.yolol = 'hello'
  }
}
</script>

<style lang="sass" scoped>
p
  font-style: italic
</style>
